# Jupyter Shenanigans
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Mac Shenanigans
.DS_Store

# Editor Shenanigans
.vscode

# Python Shenanigans
.Python
.env
env/
lib/
lib64/

# Javascript is a silly language
**/node_modules/

# Supersecret Things
**/config.py
**/supersecret.js 
