@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    margin: 0px;
    display: block;
    padding-right: 0px;
    padding-left: 0px;

    
}
.header {
    background-image: url("../img/background.png");
    background-attachment: fixed;
}

p {
    font-family: montserrat;
}

.bg-ugo {
    background-color: #0fab95;
}