
body {
    background-image: url("../img/background.png");
}
h3 {
    color: white;
}
.navbar-custom {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.navbar-custom a {
    color: white;
    
}

.navbar-trans {
    background: transparent; 
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    margin-bottom: 20px;
}