
body {
    background-image: url("../img/background.png");
}

.navbar-custom {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.navbar-trans {
    background: transparent; 
}
